:root{
    --PrimaryColor: hsl(199,100%, 33%);
    --SecondaryColor:hsl(187,85%,43%);
    --gradientColor:Linear-gradient(to right , hsl(187,85%, 43%) ,hsl(199,100%,33%) );
    --WhiteColor: hsl(0 , 0%,100%);
    --blackColor:hsl(201, 33%,16%);
    --textColor:hsl(240 ,4%,36%);
    --WhiteColorDeam:hsl(0, 0%, 93%);
    --greyText:rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG :rgb(225,225,235);
  }
  .home{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(47, 106, 127);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode:color-dodge

  }
  video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;


  }
  .homeContent{
    width: 100%;
    height: max-content;
   padding: 8rem 1.5rem 3rem;
   display: flex;
   row-gap: 3rem;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;
   margin: auto;
   z-index: 100;
   color: var(--WhiteColor);

  }
  .textDiv{
    padding: 2rem 0;
  }
  .smallText{
    font-size: 13px;
    text-transform: uppercase;
  }
  .homeTitle{
    font-size: 1.8rem;
    position: relative;
  }
  .cardDiv{
    background-color: var(--WhiteColor);
    padding: 2rem 1rem;
    border-radius: 10px;
    position: relative;
    gap: 1rem;


  }
  .cardDiv label{
    font-weight: 500;
    font-size: 13px;
    color: var(--textColor);
    display: block;
    padding-bottom: 10px;
  }
  .label_total{
    justify-content: space-between;
    align-items: center;
  }
  .label_total .total{
    color: var(--textColor);
    padding-bottom: 10px;
    font-size: 18px
  }

  .input{
    height: 40px;
    padding: 0 1rem;
    border-radius: 3rem;
    background: var(--inputColor);
  }
  .input input{
    outline: none;
    border: none;
width: 100%;
background: none;
font-weight: 500;
font-size: 13px;
  }
  .input input::placeholder{

    font-size: 13px;

  }
  .input .icon{

    font-size: 18px;
    color: var(--PrimaryColor) !important;
    margin-left: 10px;
  }
.input[type=range]{

    background: blue;
}
.searchOptions{

    position: absolute;
    background: var(--gradientColor);
    width: max-content;
    bottom: -0.7rem;
    column-gap: -8rem;
    padding: 5px 1rem;
    border-radius: 3rem;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    cursor: pointer;
}
.searchOptions:hover{
    background: var(--PrimaryColor);
}
.searchOptions .icon{
    font-size: 18px;
    color: var(--WhiteColor);
    margin-bottom: 10px;
}
.searchOptions span {
    font-size: 13px;
}
.homeFooterIcons{
  width: 100%;
  justify-content: space-between;


}
.homeFooterIcons .icon{
  font-size: 20px;
  margin: 0 5px;
  color: var(--WhiteColor);
  font-weight: 600;
}
.homeFooterIcons .icon:hover{

  color: var(--PrimaryColor);
}
@media screen and (min-width:500px){

  .smallText{
    font-size: 16px;
  }
  .homeTitle{
    font-size: 2.3rem;
    position: relative;
    width: max-content;
  }
  .homeTitle::after{

    position: absolute;
    content: ' ';
    background: var(--SecondaryColor);
    height: 5px;
    width: 145px;
    right: 0;
    bottom: 5px;
    z-index: -1;
  }
.cardDiv{
  grid-template-columns: repeat(2,1fr);
}

}
@media screen and (min-width:660px){

.cardDiv{
  padding: 2rem 1rem;
  grid-template-columns: repeat(3,1fr);
}

}
@media screen and (min-width:960px){
  
  .home{
   height: 85vh;
  }
  
  }
  @media screen and (min-width:1240px){
  
    .home{
     height: 80vh;
    }
    .homeContent{
      padding-left: 0;
      padding-right: 0;
    }
    .cardDiv{
      padding: 2rem 1rem;
      grid-template-columns: repeat(3,1fr);
    }
    .cardDiv .input{
margin-bottom: 1rem;
     }
     .searchOptions{
      bottom: -1rem;
      padding: 8px 1rem;
     }
     .searchOptions span{
      font-size: 18px;
     }
    }