:root{
    --PrimaryColor: hsl(199,100%, 33%);
    --SecondaryColor:hsl(187,85%,43%);
    --gradientColor:Linear-gradient(to right , hsl(187,85%, 43%) ,hsl(199,100%,33%) );
    --WhiteColor: hsl(0 , 0%,100%);
    --blackColor:hsl(201, 33%,16%);
    --textColor:hsl(240 ,4%,36%);
    --WhiteColorDeam:hsl(0, 0%, 93%);
    --greyText:rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG :rgb(225,225,235);
    --cardHover:rgb(255,255,255);
  }

  .footer{
    width: 100%;
    position: relative;
    padding: 2px 0;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .footer .videoDiv{
    width: 100%;
 height: 100%;
 position: absolute;

  }
  .footer .videoDiv video{
    height: 100%;
    object-fit: cover;

  }
  .footer .videoDiv video::after{
content: ' ';
position: absolute;
background: rgba(10,84,107,0.307);
top: 0;
bottom: 0;
right: 0;
left: 0;
mix-blend-mode:multiply;
  }
.secContent{
    width: 100%;
    height: max-content;
    padding: 2rem initial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   row-gap: 2rem;
   margin: auto;
   z-index: 100;
  }
.contactDiv{
    gap: 1rem;
    justify-content: space-between;
    flex-direction: column;
  }
.text small{
     
   font-size: 13px;
   font-weight: 400;
   color: var(--WhiteColor);
  }
 .text h2{
     
   font-size: 1.rem;
    color: var(--WhiteColor);
   }
 .inputDiv{
    width: 100;
    gap: 1rem;
    flex-direction: column;

}
.inputDiv input{
width: 100%;
padding: .5rem .6rem;
border-radius: 3rem;
border: 1px solid var(--WhiteColor);
background: transparent;
outline: none;
color: var(--WhiteColor);

}
.inputDiv input::placeholder{
color: var(--WhiteColor);
opacity: .5;
  }
  .btn{
    color: var(--WhiteColor);
    justify-content: center;
    gap: .5rem;
    width: 100%;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .btn .icon{
    font-size: 18px;
  }

  .footerCard{
    position: relative;
    padding: 1rem 1rem 4rem;
    gap: 2rem;
    border-radius: 1rem;
    background: var(--bodyColor);
    width: 100%;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
  }
  .footerIntro{
    flex-basis: 50%;
    justify-content: center;
    align-items: flex-start;
    row-gap: .5rem;
    flex-direction: column;
    
  
  }
  .logoDiv .logo{
    color: var(--blackColor);
    font-weight: 600;
  }
  .logoDiv .icon{
    margin-right: 10px;
    font-size: 25px;
    color: var(--PrimaryColor);
  }
  .footerParagraph{
    font-size: 13px;
    color: var(--textColor);
    width: 300%;
 
  }
  .footerSocials{

    column-gap: .5rem;
 display: flex;


  }
  .footerSocials .icon{ 
    

    color: var(--blackColor);
    transition: .3s ease-in-out;
  }
  .footerSocials .icon:hover{ 
 transform: translateY(-0.1rem);
    color: var(--PrimaryColor);
  }
  .footerLinks{
    flex-basis: 50%;
    width: 100%;
gap: 1rem;
 justify-content: space-between;
 grid-template-columns: repeat(2,1fr);
 display: grid;

  }
  .linkGroup .groupTitle{
    display: block;
    font-weight: 600;
    margin-bottom: .5rem;
    color: var(--blackColor);
  }
  .linkGroup  .footerList{
    color: var(--textColor);
    font-size: 15px;
    transition: .3s ease-in-out;

  }
  .linkGroup .icon{

    color: var(--textColor);
  }
  .footerList:hover{
 transform: translateX(7px);
    color: var(--PrimaryColor);
    cursor: pointer;
  }
  .linkGroup .icon:hover{
  color: var(--SecondaryColor);
  cursor: pointer;
  }
  .footerDiv{
    position: absolute;
    flex-direction: column;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--SecondaryColor);
    padding: .5rem 2rem;
  }
  .footerDiv small{
    font-size: 10px;
    color: var(--WhiteColor);

  }
  @media screen and (min-width:500px) {

    .footerLinks{
      grid-template-columns: repeat(3,1fr);
      padding-bottom: 1rem;
    }
    .footerDiv{
      justify-content: space-between;
      flex-direction: row;
    }
    .footerDiv small{
    font-size: 14px;
    color: var(--WhiteColor);
    }
    
  }
  @media screen and (min-width:600px) {

    .footerLinks{
      grid-template-columns: repeat(3,1fr);
      padding-bottom: 1rem;
    }
    .footerDiv{
      justify-content: space-between;
      flex-direction: row;
    }
    .footerDiv small{
    font-size: 14px;
    color: var(--WhiteColor);
    }
    .contactDiv{
      justify-content: space-between;
      flex-direction: row;
    }
    .inputDiv{
      width: max-content;
      flex-direction: column;
      justify-content: flex-start;
    }
    .inputDiv input{
  width: 60%;
    }
    .btn{
      width: max-content;
    }
    
  }
  @media screen and (min-width:840px) {

    .footerLinks{
      grid-template-columns: repeat(3,1fr);
      padding-bottom: 1rem;
    }
    .footerDiv{
      justify-content: space-between;
      flex-direction: row;
    }
    .footerDiv small{
    font-size: 14px;
    color: var(--WhiteColor);
    }
    .contactDiv{
      justify-content: space-between;
      flex-direction: row;
    }
    .inputDiv{
      width: max-content;
      flex-direction: column;
      justify-content: flex-start;
    }
    .inputDiv input{
  width: 60%;
    }
    .btn{
      width: max-content;
    }
    .footer{
      padding: 5rem 0;
    }
    .footerCard{
      flex-direction: row;
      
    }
    .footerLinks{
      grid-template-columns: repeat(3.1fr);
      padding-bottom: 1rem;
    }

  }
  @media screen and (min-width:1024px) {
    .footerCard{
      padding: 3rem 1rem;
    }
    .footerParagraph{
      font-size: 15px;
      color: var(--textColor);
    }
    .footerSocials{
      column-gap: .5rem;

    }
    .footerSocials .icon{

      color: var(--textColor);
      font-size: 25px;
    }
    .footerSocials .icon:hover{

      color: var(--PrimaryColor);
  
    }
  }
